@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --ff-inter: 'Inter', sans-serif;
    --ff-lexend-deca: 'Lexend Deca', sans-serif; 
    /* main background */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    /* main heading, stats */
    --white: hsl( 0, 0%, 100%);
    /* main paragraph */
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--ff-inter);
    background-color: var(--very-dark-blue);
}

.card {
    background: var(--dark-desaturated-blue);
    width: 375px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    position: relative;
    filter: sepia(90%) brightness(60%) hue-rotate(230deg) saturate(600%) contrast(100%) invert(5%) opacity(50%);
}

.card__body {
    padding: 40px 40px 20px;
    margin-top: 0px;
}

.card__title {
    font-size: 1.8rem;
    color: var(--white);
}

.card__title--violet {
    color: var(--soft-violet);
}

.card__text {
    color: var(--slightly-transparent-white);
    line-height: 1.6;
    font-size: 1.05rem;
    margin-top: 15px;
}

.card__statistics {
    display: flex;
    flex-direction: column;
    margin: 40px 0 20px 0;
}

.card__statistics-ctn:not(:first-child) {
    margin-top: 35px;
}

.card__statistics-value {
    color: var(--white);
    font-weight: 700;
}

.card__txt--uppercase {
    text-transform: uppercase;
}

.card__statistics-text {
    margin-top: 5px;
    font-family: var(--ff-lexend-deca);
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 1px;
}

@media (min-width: 1440px) {
    .card {
        display: flex;
        width: 1250px;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card__img {
        order: 1;
        border-radius: 0 15px 15px 0;
        max-width: 600px;
        object-fit: fill;
    }

    .card__title {
        font-size: 2.5rem;
    }

    .card__text {
        margin-top: 30px;
    }

    .card__body {
        padding: 80px 130px 40px 80px;
        margin-right: 10px;
        text-align: left;
    }

    .card__statistics {
        flex-direction: row;
        justify-content: flex-start;
        padding: 50px 0 0;
    }

    .card__statistics-ctn:not(:first-child) {
        margin: 0  0 0 80px;
    }

    .card__statistics-text {
        margin: 8px 0;
    }

    .card__statistics-value {
        font-size: 1.7rem;
    }
}